<% var title = "ABOUT"; var description = "アバウトページのdescription"; %>
<% var path = '/assets/images/'; %>

<% include ../template/_head %>
<!-- .l-header -->
<% include ../template/_header %>
<h1>
  アバウトページへようこそ！！
  developだよ！！！
</h1>
<a href="/">to top</a>

<% include ../template/_footer %>
