// breakpoint
$breakSP: 850;
$breakPC: 950;
$breakpoints: (
  'u-sp': 'print, screen and (max-width: #{$breakSP}px)',
  'o-sp': 'print, screen and (min-width: #{$breakSP + 1}px)',
  'sp-pc':
    'print, screen and (max-width: #{$breakPC}px) and (min-width: #{$breakSP + 1}px)',
  'o-pc': 'print, screen and (min-width: #{$breakPC + 1}px)',
) !default;
@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ieç”¨
@mixin ie {
  @media all and (-ms-high-contrast: none) {
    @content;
  }
}

// PATH
$bgPath: '/assets/images/';

// COLOR
$colorPurPle: #a798b7;
$colorNormal: #2496cd;
$colorDark: #012c45;
$colorBlack: #222;
$colorGray: #f0f0f0;
$colorBorder: #b8aed5;

// line-height
$narrowLineHeight: 1.2;

// mixin
@mixin hoverBorder {
  & a {
    position: relative;
    display: block;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 1px;
      background-color: #fff;
      visibility: hidden;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform .3s;
    }

    &:hover::after {
      visibility: visible;
      transform: scaleX(1);
    }

    &:focus::after {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}
