.c-btn {
  width: 220px;
  height: 60px;
  margin: 30px auto 0;
  text-align: center;

  & > a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-image: linear-gradient(to right, #7633a4 0%, #250d65 100%);
    text-decoration: none;
    transition: box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      border: solid 1px #fff;
      box-shadow: 0 0 8px gray;
    }
  }

  & > button {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, #7633a4 0%, #250d65 100%);
    text-decoration: none;
    transition: box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      border: solid 1px #fff;
      box-shadow: 0 0 8px gray;
    }
  }

  &__txt {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 60px;
  }
}
