.c-hamburgerMenu {
  overflow: hidden;
  display: block;
  position: relative;
  width: 40px;
  height: 30px;

  &::before,
  &::after,
  &__text::before {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 31px;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    content: "";
    transform: translateX(-50%);
  }

  &::after {
    top: inherit;
    bottom: 8px;
  }

  &__text {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 100%;
    color: transparent;
    pointer-events: none;
  }

  &__text::before {
    top: 50%;
    transform: translate(-50%,-50%);
  }
}