@use "../../foundation/var";

.c-sectionTitle {
  margin: 0 auto 30px auto;
  font-weight: bold;
  text-align: center;

  &__main {
    display: block;
    @include var.gradation;
    background-clip: text;
    color: rgba($color: #7633a4, $alpha: 0);
    @include var.fontSize(30);
    font-weight: bold;
  }

  &__caption {
    @include var.fontSize(13);
    color: #391e88;
  }
}