@use "../../foundation/var";

.c-title {
  margin-bottom: 25px;
  @include var.gradation;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  text-align: center;
  @include var.fontSize(24);

  @include var.mq('o-sp') {
    @include var.fontSize(32);
  }
}