@use "../../foundation/var";

.c-title {
  margin-bottom: 25px;
  background: linear-gradient(to right, #7633a4 30%, #250d65 70%);
  background-clip: text;
  color: transparent;
  font-weight: bold;
  text-align: center;
  font-size: 24px;

  @include var.mq('o-sp') {
    font-size: 32px;
  }
}