@use "../../foundation/var";

.c-title {
  margin-bottom: 25px;
  @include var.gradation;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  text-align: center;
  font-size: 24px;

  @include var.mq('o-sp') {
    font-size: 32px;
  }
}