<% var title = "TOP"; var description = "トップのdescription"; %>
<% var path = '/assets/images/'; %>

<% include ./template/_head %>
<!-- .l-header -->
<% include ./template/_header %>
<!-- .l-main -->
<main  class="l-main">

</main>
<!-- l-footer -->
<% include ./template/_footer %>


