<div id="test-modal" role="dialog" aria-hidden="true" aria-modal="true" class="m-modal" data-modal-content data-modal-transition="500" data-focus-loop>
  <div class="m-modal__overlay" data-modal-overlay></div>
  <div class="m-modal__inner">