@use "../../foundation/var";

.p-article {
  max-width: 790px;
  margin: 0 auto;
  padding: 40px 20px 0;

  @include var.mq('o-sp') {
    padding: 70px 20px 30px;
  }

  &__title {
    @include var.fontSize(22);

    @include var.mq('o-sp') {
      @include var.fontSize(32);
    }
  }

  &__data {
    margin-top: 23px;

    & > time {
      @include var.fontSize(13);
    }

    @include var.mq('o-sp') {
      margin-top: 13px;
    }
  }

  &__newsType {
    display: inline-block;
    min-width: 82px;
    max-height: 23px;
    margin-left: 15px;
    border-radius: 50px;
    background-color: #e8e8e8;
    @include var.fontSize(11);
    font-weight: bold;
    text-align: center;
    line-height: 23px;

    @include var.mq('o-sp') {
      margin-left: 17px;
      @include var.fontSize(12);
    }
  }

  &__hero {
    margin-top: 20px;

    @include var.mq('o-sp') {
      margin-top: 27px;
    }
  }

  &__wrap {
    padding: 30px 0 40px;

    & > p {
      margin-top: 20px;

      @include var.mq('o-sp') {
        margin-top: 30px;
      }
    }
  }

  &__articleHeading {
    position: relative;
    margin: 40px 0 0;
    padding-left: 17px;
    @include var.fontSize(18);
    font-weight: bold;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      width: 6px;
      height: 25px;
      border-radius: 5px;
      background-color: #391e88;
      transform: translateY(-50%);
    }

    @include var.mq('o-sp') {
      margin: 67px 0 0;
      padding-left: 20px;
      @include var.fontSize(23);

      &::before {
        height: 48px;
      }
    }
  }

  &__articleSubHeading {
    margin-top: 40px;
    @include var.fontSize(16);
    font-weight: bold;

    @include var.mq('o-sp') {
      @include var.fontSize(18);
    }
  }

  &__pagerList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > button {
      margin: 10px 10px 0 0;
    }
  }

  &__pageNav {
    margin-top: 40.5px;
    color: var.$colorPurple;
  }

  &__linkList {
    display: flex;
    width: 100%;
    border-top: solid 1px var.$colorBorder;
    border-bottom: solid 1px var.$colorBorder;
  }

  &__linkToOtherPage {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    padding: 32px 15px 32px 0;

    &:last-child {
      padding: 32px 0 32px 15px;
    }

    @include var.mq('o-sp') {
      padding: 40px 31px 40px 0;

      &:last-child {
        padding: 40px 0 40px 31px;
      }
    }

    & > a {
      position: relative;
      padding: 0 0 0 23px;
      text-decoration: none;

      &::before {
        content: '\f053';
        position: absolute;
        top: 50%;
        left: 5px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        transform: translateY(-50%);
      }

      &:hover {
        text-decoration: underline;
      }

      @include var.mq('o-sp') {
        padding: 0 0 0 35px;

        &::before {
          left: 8px;
        }
      }
    }

    &:last-child > a {
        padding: 0 23px 0 0;

        &::before {
          content: '\f054';
          left: auto;
          right: 5px;
        }

        @include var.mq('o-sp') {
          padding: 0 35px 0 0;

          &::before {
            right: 8px;
          }
        }
      }
  }

  &__linkToOtherPage + &__linkToOtherPage {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 1px;
      height: 80%;
      background-color: var.$colorBorder;
      transform: translateY(-50%);
    }
  }

  &__toHome {
    text-align: center;
    margin: 20.5px 0 0;

    & > a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
