@use "../../foundation/var";

.p-company {
  padding: 0 20px;

  @include var.mq('o-sp') {
    padding: 0 20px 30px;
  }

  & > .p-home__company {
    margin: 0 auto;
    padding: 60px 20px;

    @include var.mq('o-sp') {
      padding-top: 100px;
    }
  }

  &__ceo {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 80%;
      background-color: var.$colorGray;
      z-index: -10;
    }

    @include var.mq('o-sp') {
      display: grid;
      grid-template-columns: calc(45% - 20px) 1fr;
      column-gap: 20px;
      margin-top: 50px;

      &::before {
        width: 75%;
        height: calc(100% - 50px);
      }
    }
  }

  &__ceoImg {
    @include var.mq('u-sp') {
      max-width: 400px;
      margin: 0 auto;
      padding: 0 15px;
    }
  }

  &__txtBox {
    padding: 30px 20px;

    @include var.mq('o-sp') {
      margin-top: 50px;
    }

    & > p + p {
      margin-top: 2rem;
    }
  }

  &__detail {
    max-width: 1110px;
    margin: 0 auto;
    padding: 50px 0 0;

    @include var.mq('o-sp') {
      padding: 100px 0 30px;
    }
  }

  &__detailTitle {
    @include var.mq('o-sp') {
      padding-left: 50px;
      border-bottom: solid 2px var.$colorBorder;
      text-align: start;
    }
  }

  &__list {
    margin: 30px 0 0;

    @include var.mq('o-sp') {
      max-width: 700px;
      margin: 20px 0 0 auto;
    }
  }

  &__row {
    padding: 20px 3vw;
    border-bottom: solid 1px var.$colorBorder;

    & > dt {
      font-weight: bold;
    }

    & > dt + dd {
      margin-top: 5px;
    }

    @include var.mq('o-sp') {
      display: flex;
      padding: 28.5px 0;

      & > dt {
        width: 25%;
        min-width: 130px;
      }

      & > dt + dd {
        margin-top: 0;
      }
    }
  }

  &__map {
    height: 380px;
    margin-top: 30px;

    @include var.mq('o-sp') {
      height: 450px;
      margin-top: 60px;
    }
  }
}