@use "../../foundation/var";

.p-contact {
  padding: 40px 20px;

  @include var.mq('o-sp') {
    padding: 70px 20px;
  }

  &__lead {
    font-size: 16px;
    text-align: center;

    @include var.mq('u-sp') {
      font-size: 14px;
    }
  }

  &__formWrap {
    max-width: 1110px;
    margin: 30px auto 0;
    padding: 30px;
    border-radius: 4px;
    background-color: var.$colorGray;

    @include var.mq('o-sp') {
      margin: 40px auto 0;
      padding: 90px;
    }
  }

  &__label {
    font-weight: bold;

    & small {
      font-size: 12px;
      font-weight: normal;
    }

    & span + strong,
    & span + small {
      margin-left: 5px;
    }

    &--require {
      @extend .p-contact__label;

      & strong {
        font-size: 12px;
        color: #391e88;
      }
    }
  }

  &__checkboxes {
    margin-top: 20px;
    padding-left: 10px;

    @include var.mq('o-sp') {
      display: flex;
    }
  }

  &__checkboxWrap {
    &:nth-of-type(n + 2) {
      margin-top: 10px;

      @include var.mq('o-sp') {
        margin: 0 0 0 50px;
      }
    }
  }

  &__radiolabel {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    line-height: var.$narrowLineHeight;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 17px;
      height: 17px;
      border: solid 1px #aaa;
      border-radius: 50%;
      background-color: #fff;
      transform: translateY(-50%);
      transition: box-shadow .2s;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 3px;
      width: 11px;
      height: 11px;
      background-color: #000;
      border-radius: 50%;
      transform: translateY(-50%);
      opacity: 0;
    }

    &:hover::before {
      box-shadow: 0 0 5px rgb(0 153 255 / 70%);
    }
  }

  &__checkbox {
    &:focus + .p-contact__radiolabel::before {
      background-color: #e6f7ff;
      border: solid 2px #09f;
      box-shadow: 0 0 5px rgb(0 153 255 / 50%);
      outline: solid 2px #000;
    }

    &:checked + .p-contact__radiolabel::after {
      opacity: 1;
    }
  }

  &__entry {

    &:nth-of-type(n + 2) {
      margin-top: 40px;

      @include var.mq('o-sp') {
        margin-top: 45px;
      }
    }

    & > input[type="text"],
    & > input[type="tel"],
    & > input[type="email"],
    & > textarea {
      width: 100%;
      margin-top: 10px;
      padding: 12px;
      border: solid 1px #aaa;
      border-radius: 6px;
      background-color: #fff;
      transition: box-shadow .2s;

      &:hover {
        box-shadow: 0 0 5px rgb(0 153 255 / 70%);
      }

      &:focus {
        border: solid 2px #09f;
        box-shadow: 0 0 5px rgb(0 153 255 / 50%);
      }
    }
  }

  &__policyWrap {
    text-align: center;
  }

  &__policyTitle {
    font-weight: bold;
  }

  &__policy {
    max-height: 226px;
    margin: 10px 0 40px;
    padding: 10px;
    border: solid 1px #aaa;
    background-color: #fff;
    text-align: start;
    overflow-y: auto;

    & > figure {
      margin: 0;
    }

    & h2 {
      margin-top: 2rem;
    }
  }

  &__checklabel {
    position: relative;
    display: inline-block;
    padding-left: 30px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 20px;
      border: solid 1px #aaa;
      background-color: #fff;
      transform: translateY(-50%);
      transition: box-shadow .2s;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 4px;
      z-index: 2;
      border-radius: 2px;
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
      width: 15px;
      height: 10px;
      opacity: 0;
      transform: rotate(-45deg) translate(30%, -65%);
    }
  }

  &__agreement {
    &:hover + .p-contact__checklabel::before {
      box-shadow: 0 0 2px rgb(0 153 255 / 70%);
    }

    &:focus + .p-contact__checklabel::before {
      outline: solid 2px #09f;
    }

    &:checked + .p-contact__checklabel::before {
      background-color: #000;
    }

    &:checked + .p-contact__checklabel::after {
      opacity: 1;
    }
  }

  &__submit {
    width: 160px;
    height: 36px;
    margin: 40px auto 0;
    text-align: center;
  }

  &__selectWrap {
    position: relative;
    width: 100%;
    margin-top: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 20px;
      display: block;
      width: 12px;
      height: 10px;
      background: linear-gradient(to top right, rgba(255, 255, 255, 0) 50%, #000 50.5%) no-repeat top left/50% 100%, linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #000 50.5%) no-repeat top right/50% 100%;
      transform: translateY(-50%);
      z-index: 10;
    }
  }

  &__select {
    position: relative;
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: solid 1px #aaa;
    border-radius: 6px;
    background-color: #fff;
    transition: box-shadow .2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 5px rgb(0 153 255 / 70%);
    }

    &:focus {
      border: solid 2px #09f;
      box-shadow: 0 0 5px rgb(0 153 255 / 50%);
    }

    & > option[disabled="true"] {
      color: #aaa;
    }
  }
}