@use "../../foundation/var";

.p-footer {
  padding: 60px 30px 20px;
  background-color: #000;
  color: #fff;

  @include var.mq('o-sp') {
    padding-bottom: 60px;
  }

  &__logo {
    @include var.fontSize(18);
    font-weight: bold;
    border-bottom: solid 1px #fff;

    @include var.mq('o-sp') {
      display: none;
    }
  }

  &__list {
    text-align: center;

    @include var.mq('u-sp') {
      max-width: 200px;
      margin: 30px auto 0;
    }

    @include var.mq('o-sp') {
      display: flex;
      justify-content: center;
    }
  }

  &__link {
    font-weight: bold;
    @include var.hoverBorder;

    &:nth-of-type(n + 2) {
      margin: 20px 0 0;

      @include var.mq('o-sp') {
        margin: 0 0 0 30px;
      }
    }

    & > a[aria-current='page'] {
      color: var.$colorPurple;
    }
  }

  &__copylight {
    text-align: center;
    margin-top: 40px;

    @include var.mq('o-sp') {
      margin-top: 22px;
    }

    & > small {
      @include var.fontSize(10);
      color: var.$colorPurple;
    }
  }
}
