@use "../../foundation/var";

.p-globalMenu {
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  @include var.gradation(bottom);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  opacity: 0;
  transition: opacity .3s, visibility .3s;
  z-index: -200;

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    max-width: 480px;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__link {
    visibility: hidden;
    @include var.hoverBorder;

    &:nth-of-type(n + 2) {
      margin-top: 25px;
    }
  }

  &__link > a {
    text-decoration: none;

    &::after {
      bottom: -1px;
    }

    &[aria-current="page"] {
      color: #aaa;
    }
  }

  &__iconLink {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}

.p-globalMenu.is-open {
  visibility: visible;
  opacity: .95;
  z-index: 200;

  & .p-globalMenu__link {
    visibility: visible;
    animation: fadeInMenus .5s;
    animation-fill-mode: backwards;

    @for $i from 2 to 6 {
      &:nth-of-type(n + #{$i}) {
        animation-delay: $i * 0.05s;
      }
    }
  }
}

@keyframes fadeInMenus {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}