@use "../../foundation/var";

.p-home {
  padding-top: 40px;

  @include var.mq('o-sp') {
    padding-top: 70px;
  }

  &__news {
    max-width: 917px;
    margin: 0 auto;
    padding: 0 20px;

    @include var.mq('o-sp') {
      display: flex;
    }
  }

  &__newsList {
    max-height: 380px;
    overflow-y: scroll;

    & > li + li {
      border-top: solid 1px #ddd;
    }

    @include var.mq('o-sp') {
      max-height: 220px;
      margin-left: 50px;
    }
  }

  &__newsLink {
    display: block;
    padding: 10px 0;
    text-decoration: none;

    @include var.mq('o-sp') {
      display: flex;
    }

    &:hover .p-home__newsTitle {
      text-decoration: underline;
      text-decoration-color: #999;
    }
  }

  &__newsData {
    white-space: nowrap;
  }

  &__newsType {
    display: inline-block;
    min-width: 82px;
    max-height: 19px;
    margin-left: 15px;
    border-radius: 50px;
    background-color: #e8e8e8;
    @include var.fontSize(11);
    font-weight: bold;
    text-align: center;
    line-height: 19px;

    @include var.mq('o-sp') {
      margin-left: 17px;
      @include var.fontSize(12);
    }
  }

  &__newsTitle {
    margin: 5px 0 0;

    @include var.mq('o-sp') {
      margin: 0 0 0 20px;
    }
  }

  &__service {
    max-width: 1150px;
    margin: 80px 0 0;
    padding: 0 20px;

    @include var.mq('o-sp') {
      margin: 140px auto 0;
    }
  }

  &__serviceList {
    margin: 0 auto;

    @include var.mq('u-sp') {
      max-width: 500px;

      & > li + li {
        margin-top: 40px;
      }
    }

    @include var.mq('o-sp') {
      display: grid;
      grid-template-columns: repeat(3, calc(33.33% - 20px));
      column-gap: 30px;
    }
  }

  &__serviceTitle {
    margin: 15px 0 10px;
    text-align: center;
    font-weight: bold;

    @include var.mq('o-sp') {
      margin: 24px 0 17px;
    }
  }

  &__works {
    position: relative;
    max-width: 1261px;
    margin-top: 80px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 80%;
      background-color: var.$colorGray;
      z-index: -10;
    }

    @include var.mq('o-sp') {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 140px auto 0;
      padding-left: 20px;

      &::before {
        width: 80%;
        height: 100%;
      }
    }
  }

  &__worksHero {
    overflow: visible !important;
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 25px !important;
    z-index: 10;

    @include var.mq('o-sp') {
      width: calc(60% - 20px);
      max-width: 750px;
      margin: 0 0 -25px 0;
    }
  }

  &__swiperBtn {
    &--prev,
    &--next {
      position: absolute;
      top: 50%;
      width: 23px;
      height: 40%;
      border: none;
      background-color: rgba($color: #fff, $alpha: .8);
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 2;
    }

    &--prev {
      left: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &--next {
      right: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      & > .p-home__swiperArrow {
        transform: rotate(-135deg);
      }
    }
  }

  &__swiperArrow {
    display: block;
    position: relative;
    transform: rotate(45deg);

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      width: 10px;
      height: 3px;
      margin: auto;
      background: #705cad;
      border-radius: 4px;
    }

    &::before {
      right: -4px;
      top: 5px;
    }

    &::after {
      height: 10px;
      right: 4px;
      top: -2px;
      width: 3px;
    }
  }

  &__swiperPagination {
    bottom: 0 !important;

    @include var.mq('o-sp') {
      text-align: right !important;
    }

    & > .swiper-pagination-bullet-active {
      background: #391e88;
    }
  }

  &__swiperAutoBtn {
    position: absolute;
    bottom: 0%;
    left: 5px;
    display: block;
    width: 23px;
    height: 23px;

    &--pause,
    &--play {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      visibility: hidden;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background-color: inherit;
      z-index: 10;
      cursor: pointer;

      & > span {
        position: absolute;
        top: 100%;
        bottom: 100%;
        left: 100%;
        right: 100%;
      }
    }

    &--pause::before,
    &--play::before {
      content: '\f28b';
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      @include var.fontSize(20);
      color: #391e88;
      transition: color .2s;
    }

    &--pause::before {
      content: '\f28b';
    }

    &--play::before {
      content: '\f144';
    }

    &--pause:hover,
    &--play:hover,
    &--pause:focus,
    &--play:focus {
      &::before{
        color: #b79eff;
      }
    }

    &.is-play {
      & > .p-home__swiperAutoBtn--pause {
        visibility: visible;
      }
    }

    &.is-pause {
      & > .p-home__swiperAutoBtn--play {
        visibility: visible;
      }
    }
  }

  &__worksTextArea {
    padding: 40px 20px 60px;
    text-align: center;

    @include var.mq('o-sp') {
      width: 40%;
      padding: 13% 50px 13% 20px;
    }
  }

  &__company {
    max-width: 1340px;
    margin: 40px auto 0;
    padding: 40px 20px;
    background: url('#{var.$bgPath}cirlcles-sp@2x-min.jpg') no-repeat center center / contain;
    text-align: center;

    @include var.mq('o-sp') {
      margin: 60px auto 0;
      padding: 120px 20px 80px;
      background: url('#{var.$bgPath}bg-face@2x-min.png') no-repeat center center / contain,
        url('#{var.$bgPath}bg-circle@2x-min.png') no-repeat center center / contain;
    }
  }

  &__companyTitle {
    margin-bottom: 40px;
    @include var.fontSize(32);
    font-weight: bold;
    text-decoration: solid underline 8px #f5f534;
    white-space: nowrap;

    @media (max-width: 361px) {
      font-size: 8.864vw;
    }
  }

  &__recruit {
    max-width: 1110px;
    margin: 40px auto 0;

    @include var.mq('o-sp') {
      display: flex;
      flex-direction: row-reverse;
      margin: 65px auto 0;
    }
  }

  &__recruitHero {
    overflow: hidden;

    @include var.mq('u-sp') {
      max-height: 37.33vw;
    }

    @include var.mq('o-sp') {
      width: 60%;

      & img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__recruitTextArea {
    padding: 60px 0 50px;
    background-color: var.$colorGray;
    text-align: center;

    @include var.mq('o-sp') {
      width: 40%;
      padding: 70px 0;
    }
  }
}
