@use "../../foundation/var";

.p-home {
  padding-top: 40px;

  @include var.mq('o-sp') {
    padding-top: 70px;
  }

  &__news {
    max-width: 917px;
    margin: 0 auto;
    padding: 0 20px;

    @include var.mq('o-sp') {
      display: flex;
    }
  }

  &__newsList {
    max-height: 380px;
    overflow-y: scroll;

    & > li + li {
      border-top: solid 1px #ddd;
    }

    @include var.mq('o-sp') {
      max-height: 220px;
      margin-left: 50px;
    }
  }

  &__newsLink {
    display: block;
    padding: 10px 0;
    text-decoration: none;

    @include var.mq('o-sp') {
      display: flex;
    }

    &:hover .p-home__newsTitle {
      text-decoration: underline;
      text-decoration-color: #999;
    }
  }

  &__newsData {
    white-space: nowrap;
  }

  &__newsType {
    display: inline-block;
    min-width: 82px;
    max-height: 19px;
    margin-left: 15px;
    border-radius: 50px;
    background-color: #e8e8e8;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 19px;

    @include var.mq('o-sp') {
      margin-left: 17px;
      font-size: 12px;
    }
  }

  &__newsTitle {
    margin: 5px 0 0;

    @include var.mq('o-sp') {
      margin: 0 0 0 20px;
    }
  }

  &__service {
    max-width: 1150px;
    margin: 80px 0 0;
    padding: 0 20px;

    @include var.mq('o-sp') {
      margin: 140px auto 0;
    }
  }

  &__serviceList {
    margin: 0 auto;

    @include var.mq('u-sp') {
      max-width: 500px;

      & > li + li {
        margin-top: 40px;
      }
    }

    @include var.mq('o-sp') {
      display: grid;
      grid-template-columns: repeat(3, calc(33.33% - 20px));
      column-gap: 30px;
    }
  }

  &__serviceTitle {
    margin: 15px 0 10px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;

    @include var.mq('o-sp') {
      margin: 24px 0 17px;
    }
  }

  &__works {
    position: relative;
    max-width: 1261px;
    margin-top: 80px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 80%;
      background-color: var.$colorGray;
      z-index: -10;
    }

    @include var.mq('o-sp') {
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 140px auto 0;

      &::before {
        width: 80%;
        height: 100%;
      }
    }
  }

  &__worksHero {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 10;

    @include var.mq('o-sp') {
      width: 60%;
      max-width: 750px;
      margin: 0;
      padding: 0;
    }
  }

  &__worksTextArea {
    padding: 40px 20px 60px;
    text-align: center;

    @include var.mq('o-sp') {
      width: 40%;
      padding: 13% 50px 13% 20px;
    }
  }

  &__company {
    max-width: 1340px;
    margin: 40px auto 0;
    padding: 40px 20px;
    background: url('#{var.$bgPath}cirlcles-sp@2x-min.jpg') no-repeat center center / contain;
    text-align: center;

    @include var.mq('o-sp') {
      margin: 60px auto 0;
      padding: 120px 20px 80px;
      background: url('#{var.$bgPath}bg-face@2x-min.png') no-repeat center center / contain,
                  url('#{var.$bgPath}bg-circle@2x-min.png') no-repeat center center /contain;
    }
  }

  &__companyTitle {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: solid underline 8px #f5f534;
    white-space: nowrap;
  }

  &__recruit {
    max-width: 1110px;
    margin: 40px auto 0;

    @include var.mq('o-sp') {
      display: flex;
      flex-direction: row-reverse;
      margin: 65px auto 0;
    }
  }

  &__recruitHero {
    overflow: hidden;

    @include var.mq('u-sp') {
      max-height: 37.33vw;
    }

    @include var.mq('o-sp') {
      width: 60%;

      & img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__recruitTextArea {
    padding: 60px 0 50px;
    background-color: var.$colorGray;
    text-align: center;

    @include var.mq('o-sp') {
      width: 40%;
      padding: 70px 0;
    }
  }
}