@use "../../foundation/var";

.p-news {
  padding: 40px 20px 0;

  @include var.mq('o-sp') {
    padding: 60px 20px 0;
  }

  &__list {
    max-width: 915px;
    margin: 0 auto;
    border-bottom: solid 1px #ddd;

    & > li + li {
      border-top: solid 1px #ddd;
    }
  }

  &__link {
    display: block;
    padding: 13px 0;
    text-decoration: none;

    @include var.mq('o-sp') {
      display: flex;
      padding: 20px 0;
    }

    &:hover .p-news__title {
      text-decoration: underline;
      text-decoration-color: #999;
    }
  }

  &__data {
    white-space: nowrap;
  }

  &__type {
    display: inline-block;
    min-width: 82px;
    max-height: 19px;
    margin-left: 15px;
    border-radius: 50px;
    background-color: #e8e8e8;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 19px;

    @include var.mq('o-sp') {
      margin-left: 17px;
      font-size: 12px;
    }
  }

  &__title {
    margin: 10px 0 0;

    @include var.mq('o-sp') {
      margin: 0 0 0 20px;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
  }

  &__pagenation {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #7633a4 30%, #250d65 70%);
    font-size: 20px;

    &:nth-of-type(n + 2) {
      margin-left: 10px;
    }

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__pagenation--current {
    @extend .p-news__pagenation;
    background: #f1ebf8;

    & > a {
      color: #4f31a5;
    }
  }
}
