@use "../../foundation/var";

.p-service {
  max-width: 1150px;
  margin: 0 auto;
  padding: 40px 20px 0;

  @include var.mq('o-sp') {
    padding: 70px 20px 30px;
  }

  &__listItem {
    &:nth-of-type(n + 2) {
      margin-top: 70px;
    }

    @include var.mq('o-sp') {
      display: grid;
      grid-template-columns: 40% 1fr;
      column-gap: 50px;

      &:nth-of-type(n + 2) {
        margin-top: 100px;
      }
    }
  }

  &__img {
    max-width: 550px;
    margin: 0 auto 20px;

    @include var.mq('o-sp') {
      margin: 0;
    }
  }

  &__title {
    margin: 0 0 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    @include var.mq('o-sp') {
      margin: 0 0 20px;
      font-size: 24px;
    }
  }
}