@use "../../foundation/var";

.p-works {
  max-width: 1150px;
  margin: 0 auto;
  padding: 40px 20px 0;

  @include var.mq('o-sp') {
    padding: 70px 20px 30px;
  }

  &__list {
    @include var.mq('u-sp') {
      max-width: 600px;
      margin: 0 auto;

      & > li + li {
        margin-top: 40px;
      }
    }

    @include var.mq('o-sp') {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      column-gap: 30px;
      row-gap: 30px;
    }
  }

  &__link {
    display: block;
    text-align: center;
    text-decoration: none;
  }

  &__link:hover,
  &__link:focus {
    & .p-works__site::after {
      visibility: visible;
      transform: translateX(-50%) scaleX(1);
    }

    & .p-works__img > img {
      box-shadow: 0 0 15px rgb(0 0 0 / 60%);
    }
  }

  &__img {
    & > img {
      transition: box-shadow .3s;
      box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    }
  }

  &__site {
    position: relative;
    display: inline-block;
    margin: 15px auto 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      height: 1px;
      background-color: #333;
      visibility: hidden;
      transform-origin: left;
      transform: translateX(-50%) scaleX(0);
      transition: transform .3s;
    }
  }
}