<% const title="MODULES" ; const description="moduleが置いてあるページです" ; %>
<% const page='recruit' ; %>
<% const header={ title: 'MODULES' , caption: 'モジュール置き場' }; %>
<% const path='../assets/images/' ; %>

<% include ../template/_head %>
<!-- .l-header -->
<% include ../template/_header %>
<main class="l-main">
	<div class="l-main__heading">
		<ol class="l-main__breadcrumb">
			<li><a href="<%= githubPath %>">HOME</a></li>
			<li>
				<%= title %>
			</li>
		</ol>
	</div>
	<section style="padding: 30px;margin-top: 30px;">
		<div class="c-btn">
			<button type="button" class="c-btn__link" data-modal-trigger="test-modal">
				<span class="c-btn__txt">モーダルopen</span>
			</button>
		</div>

		<div class="c-btn">
			<button type="button" class="c-btn__link" data-modal-trigger="snap-modal">
				<span class="c-btn__txt">snap modal</span>
			</button>
		</div>

		<div class="c-btn">
			<button type="button" class="c-btn__link" data-modal-trigger="bottom_up_modal">
				<span class="c-btn__txt">下からのヤツ</span>
			</button>
		</div>

		<div id="snap-modal" aria-hidden="true" class="c-m_modal" tabindex="-1"
			data-modal-content data-focus-loop>
			<div class="c-m_modal__overlay" data-modal-overlay></div>
			<div role="dialog" aria-modal="true" class="c-m_modal__inner -fade">

				<div class="snapModal">
					<button type="button" class="c-m_modal__closeBtn"
						data-modal-close="snap-modal">
						<span class="c-m_modal__closeTxt">閉じる</span>
					</button>
					<ul class="snapModal__list">
						<%_ for (let i=0; i < 4; i++) { _%>
							<li class="snapModal__listItem">
								<div class="modal__head">
									<h2 class="modal__title"><em>タイトル</em></h2>
								</div>
								<div class="modal__body">
									<p>
										テキストtextテキストtextテキストtextテキストtextテキストtextテキストtextテキストtextテキストtext
									</p>
								</div>
								<div class="modal__footer">
									<div class="c-btn--close">
										<button class="c-btn__link js-modal-closer"
											data-modal-close="snap-modal">
											<span class="c-btn__txt">閉じる</span>
										</button>
									</div>
								</div>
							</li>
							<%_ } _%>
					</ul>
				</div>

			</div>
		</div>


		<div id="test-modal" aria-hidden="true" class="c-m_modal" tabindex="-1"
			data-modal-content data-focus-loop>
			<div class="c-m_modal__overlay" data-modal-overlay></div>
			<div role="dialog" aria-modal="true" aria-labelledby="テストモーダル"
				class="c-m_modal__inner -fade">
				<div class="modal__wrapper">

					<button type="button" class="c-m_modal__closeBtn"
						data-modal-close="test-modal" aria-label="モーダルを閉じる">
						<!-- <span class="c-m_modal__closeTxt">閉じる</span> -->
					</button>
					<div class="modal__head">
						<h2 class="modal__title"><em>タイトル</em></h2>
					</div>
					<div class="modal__body">
						<p>
							テキストtextテキストtextテキストtextテキストtextテキストtextテキストtextテキストtextテキストtext
						</p>
					</div>
					<div class="modal__footer">
						<div class="c-btn--close">
							<button class="c-btn__link js-modal-closer"
								data-modal-close="test-modal">
								<span class="c-btn__txt">閉じる</span>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div id="bottom_up_modal" aria-hidden="true" class="c-m_modal" tabindex="-1"
			data-modal-content data-modal-transition="300" data-focus-loop>
			<div class="c-m_modal__overlay" data-modal-overlay></div>
			<div role="dialog" aria-modal="true" class="c-m_modal__inner -swipe"
				data-modal-swipe>

				<div class="p-swipeModal">
					<button type="button" class="c-m_modal__closeBtn"
						data-modal-close="bottom_up_modal">
						<span class="c-m_modal__closeTxt">閉じる</span>
					</button>
					<div class="c-m_modal__header" data-modal-header>
						<p>Modal Header</p>
					</div>
					<div class="wrapper">
						<ul class="list">
							<%_ for (let i=0; i < 20; i++) { _%>
								<li class="list__item">リストアイテム</li>
								<%_ } _%>
						</ul>
					</div>
					<div class="c-m_modal__footer">
						<div class="c-btn--close">
							<button class="c-btn__link" data-modal-close="bottom_up_modal">
								<span class="c-btn__txt">閉じる</span>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section style="padding: 30px;margin-top: 30px;">
		<details class="c-disclosure" data-disclosure="wrapper" open>
			<summary class="c-disclosure__summary" data-disclosure="summary">アコーディオン</summary>
			<div class="c-disclosure__content" data-disclosure="content">
				<div class="test-disclosure-content">
					<p>テキストtextテキストtextテキストtextテキストtextテキストtextテキストtextテキストtextテキストtext</p>
					<p>テキストtextテキストtextテキストtextテキストtextテキストtextテキストtextテキストtextテキストtext</p>
				</div>
			</div>
		</details>
	</section>
<% include ../template/_footer %>